.idea/
*.pyc
db.sqlite3
__pycache__
core/static/core/vendor

/static/*
/static/

/media/*
/media/

tmp
tmp/*
tmp/
/tmp/
docker/nginx/certs
docker/nginx/.htpasswd

venv/
env/
.env.prod
.env.prod.db
.env.prod.rabbit

make_diff

#requirements/server
test_settings.py
local_settings.py
local_middleware.py

log/
logs/

htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
